* {
    margin: 0;
    padding: 0;
}

div#FundoInicio {
    position: relative;
    background-image: url(imagens/fundo_azul.jpg);
    width: 100%;
    height: 700px;
    background-attachment: fixed; /* Faz com que o background fique fixo no tela. */
    background-size: cover;
    margin-bottom: 50px;
}

div#FundoInicio p {
    font-family: "Merriweather", serif;
    font-weight: bolder;
}

div#FundoInicio img {
    width: 600px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.678));
}

div#FundoInicio::after { /* Criando conteudo com o objetivo de criar uma sombra que sobreponha o fundo e a imagem */
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -20px 11px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

div#FundoInicio div#TextoInicio {
    font-size: 4em;
    color: white;
    font-weight: bold;
    position: relative; /* Permite o uso de top e transform para posicionar o elemento. */
    top: 40%; /* Move o elemento para baixo 50% da altura do elemento pai. (div#FundoInicio) */
    transform: translateY(-50%); /* Move o elemento para cima 50% da sua própria altura, efetivamente centralizando-o verticalmente no elemento pai. */
    margin-left: 100px;
    display: inline-block; /* Faz o pseudo-elemento se comportar como um bloco em linha. */
    filter: drop-shadow(0 4px 8px black); /* Sombra segue a silueta do texto */
    padding: 5px 10px 5px 10px;
    z-index: 2;
}

div#TextoInicio::after {
    content: ""; /* Adiciona um conteúdo vazio no pseudo-elemento. */
    display: inline-block; /* Faz o pseudo-elemento se comportar como um bloco em linha. */
    height: 100%; /* Define a altura do pseudo-elemento igual à altura do elemento pai. */
    width: 0;
    background-color: rgb(5, 107, 73);
    position: absolute; /* Posiciona o elemento em relação o elemento pai (div#TextoInicio) */
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}

div#TextoInicio:hover::after {
    width: 100%; /* Define a largura do pseudo-elemento igual à largura do elemento pai. */
}

section{
    margin: 50px;
}

section#Paragrafo01 {
    font-size: 2em;
    font-family: "Barlow", sans-serif;
}

section#Paragrafo01 p {
    text-align: justify;
    text-indent: 50px;
}

img#VictorAdolescente{
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    height: auto;
    border-radius: 50px;
    filter: grayscale(100%); /* Deixando a imagem em preto e branco */
    transition: filter 1s ease; /* Define a transição, gradual e suave (ease)*/
}

img#VictorAdolescente:hover{
    filter: grayscale(0%);  /* Retirando o filtro preto e branco */
}

section#Paragrafo02{
    font-size: 2em;
    font-family: "Barlow", sans-serif;
    text-align: justify;
    margin-right: 50px;
    float: right;
    width: 50%;
}

section#Paragrafo02 h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-size: 3em;
    background: linear-gradient(to right, #056b49, blue); /* Definição do gradiente */
    background-clip: text; /* Usa a forma do texto pra realizar o corte do fundo */
    color: transparent;
}

section#Paragrafo02 p{
    text-indent: 50px;
}

section#Paragrafo02 strong#TrechoFedegoso{
    font-weight: normal;
    position: relative;
    transition: background-color 0.5s ease, color 1s ease;;
    border-radius: 2px;
    padding: 0 2px 0 2px;
}

section#Paragrafo02 strong#TrechoFedegoso:hover{
    color: white;
    background-color: rgba(29, 29, 209, 0.904);
}

a{
    text-decoration: none;
}

a.Bibliografia {
    color: rgba(5, 107, 73, 0.733);
    font-size: 0.7em;
    position: relative;
    transition: font-size 0.1s;
}

a.Bibliografia:hover {
    font-size: 0.75em;
}

a.Bibliografia::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgba(5, 107, 73, 0.733);
    transition: width 0.4s;
}

a.Bibliografia:hover::after {
    width: 100%;
}

div.albuns_capas{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

img.albuns{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
    width: 250px;
    height: 250px;
    margin: 50px;
    filter: grayscale(60%);
    transition: width 0.5s ease, height 0.5s ease, filter 0.5s;
}
img.albuns:hover{
    filter: grayscale(0%);
    width: 300px;
    height: 300px;
}

section#Paragrafo03{
    font-size: 2em;
    font-family: "Barlow", sans-serif;
    text-align: justify;
    width: 50%;
    float: left;
}

div#VictorCamera{
    float: right;
    width: 30%;
    position: relative;
    margin: 100px 100px 0 0 ;
}

section#Paragrafo03 h2{
    font-size: 2.37em;
    color: #87CEEB;
}

section#Paragrafo03 h2 span{
    font-weight: bolder;
    color: transparent;
    background-image: linear-gradient(to right, #ffd700, #ffaf30);
    background-clip: text;
}

img#VictorDesenho{
    filter: drop-shadow(5px 2px 2px black);
    width: 100%;
    position: absolute;
    transform-origin: 50% 50%; /* Definindo o centro da imagem como seu ponto de origem/eixo */
    transition: 0.2s ease;
}

img#VictorDesenho:hover{
    transform: rotate(-5deg); /* Mudando a angulação da imagem em -5 graus */
}

img#Camera{
    filter: drop-shadow(2px 2px 5px black);
    width: 150px;
    position: absolute;
    top: 210px;
    left: 25px;
    transform-origin: 50% 50%; /* Definindo o centro da imagem como seu ponto de origem/eixo */
    transition: transform 0.3s ease;
}

img#Camera:hover{
    transform: rotate(10deg); /* Mudando a angulação da imagem em 10 graus */
}